* {
  box-sizing: border-box;
}
body {
  color:black;
  background-color: #fffeea;
  text-align: center;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

nav.language_selector {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}
nav.language_selector ul li {
    display: inline;
}
nav.language_selector ul li:before {
    content: " | ";
}
nav.language_selector ul li:first-child:before {
    content: "";
}

footer {
    text-align: center;
}
footer ul {
    padding: 0;
}
footer ul li {
    display: inline;
}
footer ul li:before {
    content: " | ";
}
footer ul li:first-child:before {
    content: "";
}

a {
    text-decoration: none;
}

h1 {
  font-family: BunchloNuaGC;
  font-size: 72px;
  font-style: italic;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.connacht {
  background-color:lightgrey;
}

.munster {
  background-color: lightblue;
}

.ulster{
  background-color: bisque;
}

p {
  margin: 10px 30% 1%;
  text-align: center;
  font: 16px;
}

hr {
  width: 25%;
}

.verblist {
  display:inline-block;
  margin-right: 10px
}

.dropdowns{
  margin-bottom: 2%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
td.tense {
  vertical-align: middle !important;
}

th {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

td {
  white-space: nowrap !important;
  padding: 8px;
  border: 1px solid #ddd;
}

@font-face {
  font-family:'BunchloNuaGC';
  src: url('BunchloNuaGC.woff');
}

.button-active {
  background-color:#337ab7;
  color: white;
  font-weight: bold;
}

.btn{
  font-weight:bold;
  margin-bottom: 20px;
}

.btn:focus, .btn:active{
  outline: none;
}
